<!DOCTYPE html>
<html>
  <head>

    <title>container_main</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/static/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/static/files/container_main/styles.css" type="text/css" rel="stylesheet"/>
    <script src="/static/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="/static/resources/scripts/axure/axQuery.js"></script>
    <script src="/static/resources/scripts/axure/globals.js"></script>
    <script src="/static/resources/scripts/axutils.js"></script>
    <script src="/static/resources/scripts/axure/annotation.js"></script>
    <script src="/static/resources/scripts/axure/axQuery.std.js"></script>
    <script src="/static/resources/scripts/axure/doc.js"></script>
    <script src="/static/resources/scripts/messagecenter.js"></script>
    <script src="/static/resources/scripts/axure/events.js"></script>
    <script src="/static/resources/scripts/axure/recording.js"></script>
    <script src="/static/resources/scripts/axure/action.js"></script>
    <script src="/static/resources/scripts/axure/expr.js"></script>
    <script src="/static/resources/scripts/axure/geometry.js"></script>
    <script src="/static/resources/scripts/axure/flyout.js"></script>
    <script src="/static/resources/scripts/axure/model.js"></script>
    <script src="/static/resources/scripts/axure/repeater.js"></script>
    <script src="/static/resources/scripts/axure/sto.js"></script>
    <script src="/static/resources/scripts/axure/utils.temp.js"></script>
    <script src="/static/resources/scripts/axure/variables.js"></script>
    <script src="/static/resources/scripts/axure/drag.js"></script>
    <script src="/static/resources/scripts/axure/move.js"></script>
    <script src="/static/resources/scripts/axure/visibility.js"></script>
    <script src="/static/resources/scripts/axure/style.js"></script>
    <script src="/static/resources/scripts/axure/adaptive.js"></script>
    <script src="/static/resources/scripts/axure/tree.js"></script>
    <script src="/static/resources/scripts/axure/init.temp.js"></script>
    <script src="/static/resources/scripts/axure/legacy.js"></script>
    <script src="/static/resources/scripts/axure/viewer.js"></script>
    <script src="/static/resources/scripts/axure/math.js"></script>
    <script src="/static/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="/static/data/document.js"></script>
    <script src="files/container_main/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>

  <body>
  <form method="post" action=" ">
    {% csrf_token %}
    <div id="base" class="">

      <!-- Unnamed (组合) -->
      <div id="u9" class="ax_default" data-left="28" data-top="52" data-width="669" data-height="353">

        <!-- Unnamed (矩形) -->
        <div id="u10" class="ax_default box_1">
          <div id="u10_div" class=""></div>
          <div id="u10_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>
    </div>
      <!-- Unnamed (向右箭头按钮) -->
      <div id="u12" class="ax_default _形状">
        <img id="u12_img" class="img " src="/static/images/container_main/u12.svg"/>
        <div id="u12_text" class="text ">
          <p><span>对象【{{objname}}】信息</span></p>
        </div>
      </div>
      <!-- Unnamed (文本框) -->
      <div id="u18" class="ax_default text_field">
          <h3>admin</h3>
      </div>

  <div id="u24" class="ax_default link_button">
        <div id="u24_div" class=""></div>
        <div id="u24_text" class="text ">
<!--          <p><span>切换账户</span></p>-->
          <a href="{% url 'yangw0123:login' %}">切换账户</a>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u23" class="ax_default link_button">
        <div id="u23_div" class=""></div>
        <div id="u23_text" class="text ">
<!--          <p><span>退出</span></p>-->
          <a href="{% url 'yangw0123:word_list' name %}">返回</a>
        </div>
      </div>
      <div id="u25" class="ax_default">
 <tbody>
                    <tr>
                            <td>{{contents}}</td>
                    </tr>
                </tbody>
      <!-- 对象信息 -->

    </div>
    <script src="/static/resources/scripts/axure/ios.js"></script>
    </form>
  </body>
</html>












