<!DOCTYPE html>
<html>
  <head>

    <title>container_main</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/static/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/static/files/container_main/styles.css" type="text/css" rel="stylesheet"/>
    <script src="/static/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="/static/resources/scripts/axure/axQuery.js"></script>
    <script src="/static/resources/scripts/axure/globals.js"></script>
    <script src="/static/resources/scripts/axutils.js"></script>
    <script src="/static/resources/scripts/axure/annotation.js"></script>
    <script src="/static/resources/scripts/axure/axQuery.std.js"></script>
    <script src="/static/resources/scripts/axure/doc.js"></script>
    <script src="/static/resources/scripts/messagecenter.js"></script>
    <script src="/static/resources/scripts/axure/events.js"></script>
    <script src="/static/resources/scripts/axure/recording.js"></script>
    <script src="/static/resources/scripts/axure/action.js"></script>
    <script src="/static/resources/scripts/axure/expr.js"></script>
    <script src="/static/resources/scripts/axure/geometry.js"></script>
    <script src="/static/resources/scripts/axure/flyout.js"></script>
    <script src="/static/resources/scripts/axure/model.js"></script>
    <script src="/static/resources/scripts/axure/repeater.js"></script>
    <script src="/static/resources/scripts/axure/sto.js"></script>
    <script src="/static/resources/scripts/axure/utils.temp.js"></script>
    <script src="/static/resources/scripts/axure/variables.js"></script>
    <script src="/static/resources/scripts/axure/drag.js"></script>
    <script src="/static/resources/scripts/axure/move.js"></script>
    <script src="/static/resources/scripts/axure/visibility.js"></script>
    <script src="/static/resources/scripts/axure/style.js"></script>
    <script src="/static/resources/scripts/axure/adaptive.js"></script>
    <script src="/static/resources/scripts/axure/tree.js"></script>
    <script src="/static/resources/scripts/axure/init.temp.js"></script>
    <script src="/static/resources/scripts/axure/legacy.js"></script>
    <script src="/static/resources/scripts/axure/viewer.js"></script>
    <script src="/static/resources/scripts/axure/math.js"></script>
    <script src="/static/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="/static/data/document.js"></script>
    <script src="files/container_main/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>

  <body>
  <form method="post" action=" ">
    {% csrf_token %}
    <div id="base" class="">

      <!-- Unnamed (组合) -->
      <div id="u9" class="ax_default" data-left="28" data-top="52" data-width="669" data-height="353">

        <!-- Unnamed (矩形) -->
        <div id="u10" class="ax_default box_1">
          <div id="u10_div" class=""></div>
          <div id="u10_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>
    </div>

      <!-- Unnamed (向右箭头按钮) -->
      <div id="u12" class="ax_default _形状">
        <img id="u12_img" class="img " src="/static/images/container_main/u12.svg"/>
        <div id="u12_text" class="text ">
          <p><span>{{name}}对象列表</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u18" class="ax_default text_field">
          <h3>admin</h3>
      </div>

      <!-- 创建容器 -->
      <div id="u22"  class="ax_default button" >
        <div id="u22_div" class=""></div>
        <div id="u22_text" class="text ">
          <a href="{% url 'yangw0123:uploadObject' name %}">上传对象</a>
        </div>
      </div>
  <div id="u24" class="ax_default link_button">
        <div id="u24_div" class=""></div>
        <div id="u24_text" class="text ">
<!--          <p><span>切换账户</span></p>-->
          <a href="{% url 'yangw0123:login' %}">切换账户</a>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u23" class="ax_default link_button">
        <div id="u23_div" class=""></div>
        <div id="u23_text" class="text ">
<!--          <p><span>退出</span></p>-->

          <a href="{% url 'yangw0123:container_get' %}">返回</a>
        </div>
      </div>


      <div id="u251" class="ax_default">
          <table border="1" align="center">
          <tbody>
        <tr>
            <td>对象名</td>
          <td>hash值</td>
          <td width="78">content_type</td>
            <td>操作</td>
            </tr>
        {% for b in page %}
              <tr>
            <td>{{b.name}}</td>
                <td>{{b.hash}}</td>
                <td>{{b.content_type}}</td>
                  <td>
                    <a href="{% url 'yangw0123:object' name b.name %}">查看</a>
                    <a href="{% url 'yangw0123:object_delete' name b.name %}">删除</a>
                    <a href="{% url 'yangw0123:downloadObject' name b.name%}">下载</a>
                  </td>
              </tr>
          {% endfor %}
          </tbody>
          </table>
      <!-- Unnamed (矩形) -->

    </div>
    <div id="u44" class="ax_default" data-left="224" data-top="323" data-width="43" data-height="19">

<!--        &lt;!&ndash; Unnamed (矩形) &ndash;&gt;-->
        <div id="u45" class="ax_default link_button">
            <a class="pagination">
            {% if page.has_previous %}
                    <a href="?page={{ page.previous_page_number }}" aria-label="Previous">
                       <span aria-hidden="true">上一页</span>
                    </a>
            {% endif %}
                <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            {% for page_number in page.paginator.page_range %}
                {% if page_number == page.number %}
                    {# 如果当前查询的页码和循环的页码刚好相等 #}
                    <a class="active"><a href="?page={{ page_number }}">{{ page_number }}</a></a>
                {% else %}
                    <a href="?page={{ page_number }}">{{ page_number }}</a>
                {% endif %}
            {% endfor %}
                <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            {% if page.has_next %}
                    <a href="?page={{ page.next_page_number }}" aria-label="Previous">
                       <span aria-hidden="true">下一页</span>
                    </a>
            {% endif %}
      </a>
        </div>
          </div>
    <script src="/static/resources/scripts/axure/ios.js"></script>
    </form>
  </body>
</html>












